<%- include('../partials/header') %>

<h1>UPDATE ENTRY</h1>
<form class="card" action="/arts/<%= a._id %>" method='PUT'>
     <input placeholder="Artist" type="text" name='artist'>
     <input placeholder="Title" type="text" name="title">
     <input placeholder="Dimensions" type="text" name="dimensions">
     <input placeholder="Location" type="text" name="location">
     <input placeholder="Medium" type="text" name="medium">
     <input placeholder="Year" type="year" name="year">
    <button class="btn btn-primary" type="submit">Add Work</button>
</form>
</div>




<%- include('../partials/footer') %>