<%- include('../partials/header') %>
<h1>NEW.EJS</h1>


<form action="/arts" method='POST'>
    <label></label>
    <input type="text" name= 'artist'>
    <button type="submit"> Add Work</button>
</form>


<%- include('../partials/footer') %>