<%- include('../partials/header') %>
   <h1>ADD NEW WORK</h1>


<form class="card" style="width: 18rem;" action="/arts" method='POST'>
    <label>Artist: </label>
    <input type="text" name='artist'>
    <label>Title:</label>
    <input type="text" name="title">
    <label>Dimensions:</label>
    <input type="number" name="dimensions">
    <label>Location:</label>
    <input type="text" name="location">
    <label>Medium:</label>
    <input type="text" name="medium">
    <label>Year:</label>
    <input type="number" name="year">

    <button type="submit">Add Work</button>
</form>


<%- include('../partials/footer') %>

