<%- include('../partials/header') %>
<h1>NEW.EJS</h1>


<form action="/arts" method='POST'>
    <label>Name</label>
    <input type="text" name= 'name'>
</form>

<%- include('../partials/footer') %>



