

.add-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
  
};

.nav-item:hover {
  color: black;
}

li {
  color: black;

};

.nav-item :hover {
  text-decoration: underline;
};
